---
layout: layouts/base.njk
showBackLink: true
---
{%- if carousel %}
<div class="carousel">
	{%- for image in carouselImages %}
	<div class="carousel__cell">
		<img src="{{ image.src }}" alt="{{ image.alt | default('') }}" />
	</div>
	{%- endfor %}
</div>
{%- elif heroImage %}
<figure>
	<img src="{{ heroImage }}" alt="" />
</figure>
{%- endif %}

{{ content | safe }}

{%- if readMoreLinks %}
<hr />
<h2>Read more</h2>
<ul>
	{%- for link in readMoreLinks %}
	<li>
		<a href="{{ link.url }}" target="_blank">{{ link.text }}</a>
	</li>
	{%- endfor %}
</ul>
{%- endif %}
