---
layout: layouts/page.njk
pagination:
  data: collections.noteCategories
  size: 1
  alias: category
permalink: /notes/category/{{ category.slug }}/
eleventyComputed:
  title: "{{ category.name }}"
---
<ul class="notelist">
	{%- for note in collections.notes %}
	{%- if note.data.categories and category.name in note.data.categories %}
	{% include "partials/note-list-item.njk" %}
	{%- endif %}
	{%- endfor %}
</ul>
