---
layout: layouts/home.njk
title: ""
---
<div class="section section--lead">
	<p>
		I'm a leader with a passion for polished human experiences - for
		customers, employees, users and developers. I've been building impactful products,
		services, businesses, communities and teams for over 20 years.
	</p>
	<p>
		Currently I'm leading design and enterprise architecture at <a href="https://fintraffic.fi" target="_blank">Fintraffic Railway</a>.
	</p>
</div>
<!--
<hr>
<div class="section section--notes">
	<h2 class="section__title">Notes</h2>
	<p>A growing collection of thoughts and snippets.</p>
	<ul class="notelist">
		{%- for note in collections.allNotes %}
		<li class="note">
			<h3 class="note__title">
				<a href="{{ note.url }}">{{ note.data.title }}</a>
			</h3>
			<p class="note__subtitle">{{ note.date | dateFormat }} — {{ note.data.subtitle }}</p>
		</li>
		{%- endfor %}
	</ul>
	<a href="/notes/" class="notelist__viewall">
		View all notes
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="16"
			height="16"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="3"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="icon icon--arrow-right"
		>
			<line x1="5" y1="12" x2="19" y2="12"></line>
			<polyline points="12 5 19 12 12 19"></polyline>
		</svg>
	</a>
</div>
-->
<hr />
<div class="section section--skills">
	<h2 class="section__title">What I like to do</h2>
	<ul class="pills">
		{%- for skill in skills %}
		<li class="pill">{{ skill }}</li>
		{%- endfor %}
	</ul>
</div>
<hr />
<div class="section section--connect">
	<h2 class="section__title">Connect</h2>
	<p>If you're in Tampere, let's grab lunch or go for a coffee.</p>
	<ul class="socials">
		{%- for social in socials %}
		<li class="social">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="{{ social.viewBox }}"
				class="social__icon {{ social.iconClass }}"
			>
				<path d="{{ social.svgPath }}" />
			</svg>
			<span class="social__name">{{ social.name }}:</span>
			<a href="{{ social.url }}" target="_blank" class="social__handle">{{ social.handle }}</a>
		</li>
		{%- endfor %}
	</ul>
</div>
