---
layout: layouts/page.njk
title: Notes
permalink: /notes/
---
<p>A growing collection of thoughts and snippets.</p>
<ul class="notelist">
	{%- for note in collections.notes %}
	{% include "partials/note-list-item.njk" %}
	{%- endfor %}
</ul>
