---
layout: layouts/page.njk
title: Notes
permalink: /notes/
---
<p>A growing collection of thoughts and snippets.</p>
<ul class="notelist">
	{%- for note in collections.allNotes %}
	<li class="note">
		<h3 class="note__title">
			<a href="{{ note.url }}">{{ note.data.title }}</a>
		</h3>
		<p class="note__subtitle">{{ note.date | dateFormat }} — {{ note.data.subtitle }}</p>
	</li>
	{%- endfor %}
</ul>
