---
layout: layouts/page.njk
title: Featured work
permalink: /projects/
---
<p>
	A curated list of some of the work I've done in recent years.
</p>
<ul class="notelist">
	{%- for project in collections.featuredProjects %}
	<li class="note">
		<h3 class="note__title">
			<a href="{{ project.url }}">{{ project.data.title }}</a>
		</h3>
		<p class="note__subtitle">
			{{ project.data.subtitle }} ({{ project.data.period }})
		</p>
		<p class="note__lead">
			{{ project.data.lead }}
		</p>
	</li>
	{%- endfor %}
</ul>
<hr />
<ul class="notelist">
	{%- for project in collections.projects %}
	{%- if not project.data.featured %}
	<li class="note">
		<h3 class="note__title">
			{%- if project.data.permalink !== false %}
			<a href="{{ project.url }}">{{ project.data.title }}</a>
			{%- else %}
			{{ project.data.title }}
			{%- endif %}
		</h3>
		<p class="note__subtitle">
			{{ project.data.subtitle }} ({{ project.data.period }})
		</p>
		<p class="note__lead">
			{{ project.data.lead }}
		</p>
	</li>
	{%- endif %}
	{%- endfor %}
</ul>
