<footer class="site__footer">
	<div class="footer__content">
		<span>&copy; {% year %} Raine Luntta</span>
		<button class="theme-toggle" type="button" aria-label="Toggle theme"></button>
	</div>
</footer>
