<header class="post__header">
	{%- if showBackLink %}
	<div class="site__homelink">
		<a href="/" title="Back to home">
			<span class="site__homelink-brand">RL</span>
		</a>
	</div>
	{%- endif %}
	<h1>{% if titleHtml %}{{ titleHtml | safe }}{% else %}{{ headerTitle | default(title) }}{% endif %}</h1>
</header>
